html {
  font-size: 14px;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

.titulo-menu {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  align-self: center;
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.banderas-menu {
  margin-top: -20px;
  position: "";
  bottom: 0%;
  content: "";
  width: auto;
  height: 8%;
}

.pagina-info {
  height: 100% !important;
}

.pagina-info::before {
  position: absolute;
  top: 0%;
  content: "";
  width: 150%;
  height: 30%;
  border-radius: 0% 0% 50% 50%;
  background: #f1f1f1;
  opacity: 95%;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
}

.nombres-container2 {
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  color: rgba(0, 0, 0, 0.4);
  align-items: center;
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}
.tamaño{
 width: 30px !important;
 height: 30px !important;
}



#membership {
  height: 100%;
}

#membership::before {
  position: absolute;
  top: 0%;
  content: "";
  width: 150%;
  height: 15%;
  border-radius: 0% 0% 50% 50%;
  background: #f1f1f1;
  opacity: 95%;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
}

#membership2 {
  height: 100%;
}

#membership2::before {
  position: absolute;
  top: 0%;
  content: "";
  width: 150%;
  height: 15%;
  border-radius: 0% 0% 50% 50%;
  background: #f1f1f1;
  opacity: 95%;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
}

.ficha-suscripcion {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: black;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  position: relative;
}

.ficha-suscripcion-seleccionada {
  background: #fff5e2;
  border: 2px solid #ffd200;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: black;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  position: relative;
}

.ficha-suscripcion2 {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: black;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  position: relative;
}

.ficha-suscripcion2-seleccionada {
  background: #fff5e2;
  border: 2px solid #ffd200;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: black;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  position: relative;
}

.mas-popular {
  background: #ffd200;
  border-radius: 5px 5px 0px 0px;
  padding: 0.25em 1em 0.25em 1em;
  margin-right: 0.5em;
  font-size: 0.9em;
  font-family: sans-serif;
}

#lupaBusqueda{
  display: none;
  cursor: pointer;
  position: absolute;
  top: -55px;
  right: 22px;
  font-size: 10px;
}
#caja-busqueda {
  padding-left: 50px !important;
  height: 40px;
  margin-bottom: 20px;
}

#btnCategoria{
  display: none;
}
.cerrar-position {
  position: absolute;
  width: 36px;
  margin-top: 1px;
  right: 23px;
}

.categoria-position {
  position: absolute;
  width: 43px;
  top: -67px;
  left: 20px;
  z-index: 200000;
  height: 40px;
}

.btn-categoria {
  font-size: 12px;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .frame-punto-imageen {
    background: white;
    position: absolute;
    bottom: 0%;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
  }
  .imagen-punto-imageen {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
  }
  /*Estilos para cambiar la cabecera cuando el dispositivo está en vertical*/
  .input-group, .filter-position, #theader, #theader1, #theader2, #theader3, #caja-busqueda{
    display: block;
  }
  #lupaBusqueda,#btnCategoria{
    display: none;
  }
  #footer-container{
    height: 80px;
  }
  /*end*/
}
@media screen and (min-height: 200px) and (max-height: 390px) and (orientation: landscape) {
  .frame-punto-imageen {
    background: white;
    position: absolute;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
  }
  .imagen-punto-imageen {
    height: 60vh;
    object-fit: cover;
    object-position: center;
  }
  /*Estilos para cambiar la cabecera cuando el dispositivo está en horizontal*/
  .categorias{
    margin-top: 0;
    display: none !important;
  }
  .input-group, .filter-position, #theader, #theader1, #theader2, #theader3, #caja-busqueda{
    display: none;
  }
  #lupaBusqueda, #btnCategoria{
    display: block;
  }
  #caja-busqueda {
    padding-left: 24px !important;
  }
  #footer-container{
    height: 43px;
  }
  /*end*/
}

.swiper-mat-main {
  width: 100%;
  height: 80vh;
}

.swiper-mat-thum {
  width: 100%;
  height: 16vh;
}

.swiper-ciudades {
  width: 100%;
  height: auto;
  
}
.swiper-slide .img-list {
  width: 100%;
  height: 264px;
  border-radius: 30px;
}
/*tamaño de los modales al clickar en los puntos de interes*/
.swiper-slide img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.swiper-slide {
  font-size: 14px;
  background: white;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; 
}
.swiper-pagination-bullet-active {
  opacity: 1; /* Esto hace que el bullet activo sea completamente opaco */
  background: #0b0b0b !important; /* Cambia esto al color que prefieras para el bullet activo */
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 24px;
  left: 0;
  width: 100%;
}

.centered-image {
  transform: translateX(-65%);
}
.texto-favoritos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.titulo-POIs {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.texto-POIs {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: white;
}

.boton-amarillo-POIs {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: rgba(255, 210, 0, 1);
  color: black;
}

.boton-azul-POIs {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: #2765a0;
  color: white;
}
.boton-localizacion-POIs {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: transparent;
  border-color: #0b0b0b;
}

.boton-blanco-POIs {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: white;
  color: #2765a0;
}

.boton-rojo-POIs {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.texto-tipo-acceso-POIs {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
.aspa-cierre {
  background-color: rgba(37, 45, 50, 0.4);
  color: white;
}

.tooltip-descarga {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding: 9px;
  color: white;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.listado-busqueda {
border-radius: 5px;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 1000;
}
#overlay2 {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 100;
}
.titulo-ciudades {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 600;
  color: black;
}
.titulo-ciudades:first-child {
  padding-top: 220px;
}

.offcanvas-custom {
  position: fixed;
  bottom: 0;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
}

.offcanvas-header-custom {
     /* display: flex; */
     align-items: center;
     justify-content: space-between;
     padding: 1rem 1rem;
     width: 100%;
}

.offcanvas-bottom {
  /* Cambia estos valores según tus necesidades */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 400px;
  transition: transform .3s ease-in-out;
  transform: translateY(100%);
  background: #fff;
}

.offcanvas-bottom.show {
  transform: translateY(0);
}

.offcanvas-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px; /* Ajusta esto a tus necesidades */
  background: #fff;
  padding: 20px;
  overflow-y: auto;
  z-index: 9999;
}

.imgs{
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 30px #0000001A;
}

.gridContainer {
  display: grid;
  grid-template-columns: 
  repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 34px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (orientation: landscape) and (min-height: 200px) and (max-height: 390px) {
  .titulo-ciudades:first-child {
    padding-top: 90px !important;
  }
  .swiper-slide{
    margin: auto 35px !important;
  }
}

/*Estilo spinner*/
.spinner{
  position: absolute;
  width: 100%;
  background: #FFF;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000;
  flex-wrap: wrap;
  text-align: center;
}
.spinner-content{
  width: 80%;
}
.spinner-content .text-primary{
  font-size: 20px;
  width: 60px;
  height: 60px;
  color: #38649b;
}
.spinner-content p{
  font-size: 19px;
  margin-top: 50px;
}