/* Estilos base para "info-box" */
#info-box {
  position: fixed;
  width: 430px;
  max-width: 90%; /* Se asegura de que la caja no sea más ancha que el 90% de la pantalla */
  height: 300px;
  max-height: 80%; /* Se asegura de que la caja no sea más alta que el 80% de la pantalla */
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  background: #FFFFFF;
  border-radius: 30px 30px 0px 0px;
  box-sizing: border-box;
   /* overflow: auto; Permite desplazarse si el contenido de la caja es más grande que la caja */
  padding: 30px;
}

.info-box-content {

  overflow: auto;
  display: flex;
  flex-direction: column;
  
}

.info-box-img {
  width: 85px !important;
  height: 85px !important;
  display: inline-block;

}

/* Estilos para pantallas pequeñas (por ejemplo, smartphones en modo portrait) */
@media (min-width: 240px) and (max-width: 299px){
  #info-box {
    bottom: 80px;
    height: 384px;
  }
  .slider-container2::-webkit-scrollbar {
    max-height: 1px !important;
    background-color: transparent;
  }
  
  .slider-container2::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-radius: 15px !important;
  }
   
  
  
  .slider-container2::-webkit-scrollbar-thumb:hover {
    background-color: transparent !important;
  }
}

@media (min-width: 300px) and (max-width: 501px){
  #info-box {
    bottom: 69px;
    height: 370px;
  }
  .slider-container2::-webkit-scrollbar {
    max-height: 1px !important;
    background-color: transparent;
  }
  
  .slider-container2::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-radius: 15px !important;
  }
   
  
  
  .slider-container2::-webkit-scrollbar-thumb:hover {
    background-color: transparent !important;
  }
}


/* Estilos para pantallas medianas (por ejemplo, smartphones en modo landscape o tablets en modo portrait) */
@media (min-width: 501px) and (max-width: 900px) {
  #info-box {
    bottom: 71px;
    height: 363px;
  }
  .slider-container2::-webkit-scrollbar {
    max-height: 1px !important;
    background-color: transparent;
  }
  
  .slider-container2::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-radius: 15px !important;
  }
   
  
  
  .slider-container2::-webkit-scrollbar-thumb:hover {
    background-color: transparent !important;
  }
}

/* Estilos para pantallas grandes (por ejemplo, tablets en modo landscape o desktops) */
@media (min-width: 901px) {
  #info-box {
    bottom: 71px;
    height: 370px;
  }

}



.fila-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.fila-explorar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.title-infobox {
width: 100%;
font-family: 'Montserrat';
font-weight: 600;
font-size: 26px;
color: #000000;
line-height: 28px;
}

.subtitle-infobox{
  font-family: 'Montserrat';
  font-style: Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  text-align: left;
  opacity: 0.25;
  margin-top: 5px;
}
.swiper-container {
  height: 100%;
}
.swiper-wrapper-infobox {
  position: relative;
  width: 100px !important;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.slider-container2 {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.parent-container {
  overflow-x: scroll;
}



.swiper-container {
  height: 100%;
}
.content-container-infobox {
  display: block;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: 10px;
}
.swiper-slide2 {
  font-size: 14px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
  width: 100%;
  height: 100%;
}
.swiper-slide2 img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px; 

}


.nombres-container-infobox {

  font-family: 'Montserrat';
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  width: 100%;
  height: 2em;
}

.swiper-pagination2 {
  position: relative;
  z-index: 10; /* Asegurar que los bullets estén en una capa superior */
  bottom: -60px !important; /* Mover los bullets más abajo */
}
.btn-explorar {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 90px;
  background-color: #2765A0;
  padding: 10px;
  width: 201px;
  height: 51px;
}
@media screen and (max-width: 390px) {
  .btn-explorar {
    width: 160px;
    height: 51px;
  }
}
/* Media Query for small screens */
@media screen and (max-width: 344px) {
  .btn-explorar {
    width: 160px;
    height: 51px;
  }
}
@media screen and (max-width: 316px) {
  .btn-explorar {
    width: 120px;
    height: 51px;
  }
}
@media screen and (max-width: 244px) {
  .btn-explorar {
    width: 110px;
    height: 51px;
  }
}

.rating2 {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.rating2 .fas {
  color: #ffd700;
  cursor: pointer;
}

.texto-stars-infobox {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.texto-comentarios-infobox {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  display: flex;
  align-items: center;
  opacity: 0.25;
  text-decoration: underline;
  margin-top: 10px;
}
