.btn-secondary {
  background-color: #000000 !important;
  color: #fff;
  border-radius: 90px !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  width: 100% !important;
  height: 51px !important;
}

.btn-primary {
  background-color: #2765a0 !important;
  color: #fff;
  border-radius: 90px !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  width: 100% !important;
  height: 51px !important;
  padding: 0.5rem 0.85rem !important;
  border-color: transparent !important;
}

.form-control-asd {
  background-color: #f5f5f5 !important;
  border-radius: 10px !important;
  border: 1px solid transparent !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  width: 100% !important;
  height: 51px !important;
}
::placeholder {

  font-family: "Montserrat";

}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(0, 0, 0) !important;
  opacity: 1; /* Firefox */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(0, 0, 0) !important;
  opacity: 1; /* Firefox */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.form-check {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
}

.btn-custom {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 0.7rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #000000;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  width: 100% !important;
  height: 51px !important;
  padding-left: 70px; /* Aumentar espacio para el ícono SVG */
  background-size: 40px; /* Cambiar tamaño del ícono SVG */
  background-position: 15px center; /* Ajustar posición del ícono SVG */
  background-repeat: no-repeat;
}
.txt-input {
  padding-left: 50px !important; /* Aumentar espacio para la imagen SVG */
  background-size: 40px !important; /* Cambiar tamaño de la imagen SVG */
  background-position: 8px center; /* Ajustar posición de la imagen SVG */
  background-repeat: no-repeat;
}
.txt-mensaje {
  padding-left: 50px !important; /* Aumentar espacio para la imagen SVG */
  background-size: 40px !important; /* Cambiar tamaño de la imagen SVG */
  background-position: 10px top; /* Ajustar posición de la imagen SVG */
  background-repeat: no-repeat;
}
#email {
  background-image: url("assets/img/icons/Mail.svg"); /* Reemplaza con la URL de tu imagen SVG para Email */
}
#password {
  background-image: url("assets/img/icons/Contraseña.svg"); /* Reemplaza con la URL de tu imagen SVG para Contraseña */
}
#nombre {
  background-image: url("assets/img/icons/Perfil.svg"); /* Reemplaza con la URL de tu imagen SVG para Contraseña */
}
#motivos {
  background-image: url("assets/img/icons/Motivos.svg"); /* Reemplaza con la URL de tu imagen SVG para Contraseña */
}
#mensaje {
  background-image: url("assets/img/icons/Correo.svg"); /* Reemplaza con la URL de tu imagen SVG para Contraseña */
}
.btn-email {
  background-image: url("assets/img/icons/Correo.svg"); /* Reemplaza con la URL de tu imagen SVG para Email */
}

.btn-facebook {
  background-image: url("assets/img/icons/Facebook.svg"); /* Reemplaza con la URL de tu imagen SVG para Facebook */
}

.btn-google {
  background-image: url("assets/img/icons/Google.svg"); /* Reemplaza con la URL de tu imagen SVG para Google */
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
